<script setup lang="ts">
import { buttonVariants } from '.'
import { cn } from '@/lib/utils'

/**
 * Props
 */
type Props = {
  variant?: NonNullable<Parameters<typeof buttonVariants>[0]>['variant']
  size?: NonNullable<Parameters<typeof buttonVariants>[0]>['size']
} & ({
    as?: string
} | {
    as: 'NuxtLink',
    to: string
})

const props = withDefaults(defineProps<Props>(), {
    as: 'button',
    variant: 'default',
    size: 'default'
})

/**
 * Computed
 */
const dynamicComponent = computed(() => {
    if (props.as === 'NuxtLink') {
        return resolveComponent('NuxtLink')
    }

    return props.as
})

/**
 * Attrs
 */
const attrs = computed(() => {
    if (props.as === 'NuxtLink' && 'to' in props) {
        return {
            to: props.to
        }
    }

    return {}
})

</script>

<template>
    <component
        :is="dynamicComponent"
        :class="cn(buttonVariants({ variant, size }), $attrs.class ?? '')"
        v-bind="attrs"
    >
        <slot />
    </component>
</template>
