<template>
    <UiButton
        @click="router.back"
    >
        ← Back
    </UiButton>
</template>

<script setup lang="ts">
const router = useRouter()
</script>

<style scoped lang="scss">

</style>