<template>
    <nav class="w-screen h-20 bg-slate-100 absolute top-0 left-0 right-0 flex justify-center">
        <div class="margin-container w-full py-5 flex items-center justify-between">
            <NuxtLink
                to="/"
                class="font-black text-black"
            >
                {{ config.public.appName }}
            </NuxtLink>

            <UiButton as="button" :disabled="logoutLoading" @click="onLogoutClick">
                Logout
            </UiButton>
        </div>
    </nav>
</template>

<script setup lang="ts">
import { useUserStore } from '~/stores/user';

/**
 * Routing
 */
const router = useRouter();

/**
 * Runtime Config
 */
const config = useRuntimeConfig()

/**
 * Logout
 */
const { logout } = useUserStore()
const logoutLoading = ref(false)

const onLogoutClick = () => {
    logoutLoading.value = true

    try {
        logout();

        router.push('/login');
    } finally {
        logoutLoading.value = false
    }
}
</script>

<style scoped lang="scss">

</style>