<template>
    <NuxtLayout>
        <NuxtPage />
        <NuxtLoadingIndicator :throttle="0" />
    </NuxtLayout>
</template>

<script setup async lang="ts">
// Get Cookie
const isLoggedIn = useCookie('isLoggedIn')
const cookie = useCookie('token')

// Store
// const userStore = useUserStore()
// const cartStore = useCartStore()
// const addressStore = useAddressStore()

// On Server Load (SSR - Page Refresh / Load by URL)
if (import.meta.server) {
    if (cookie.value) {
        // await Promise.allSettled([
        //     userStore.fetchProfile(true),
        //     cartStore.fetchCart(true),
        //     addressStore.fetchAddress(true)
        // ])
    }
}

if (import.meta.client) {
    // On Client Load (CSR - Navigation / Link Click)
    if (isLoggedIn.value !== 'false' && isLoggedIn.value) {
        // await Promise.allSettled([
        //     userStore.fetchProfile(),
        //     cartStore.fetchCart(),
        //     addressStore.fetchAddress()
        // ])
    }
}
</script>