<template>
    <div class="space-y-5 bg-slate-100 p-5 flex gap-10 lg:block">
        <img class="rounded-full w-40 h-40 border-slate-200 border shadow-sm" width="160" height="160" :src="userAvatar">

        <div class="divide-y divide-slate-200 flex-1">
            <div class="pb-3">
                <p>{{ profile?.name ?? '' }}</p>
                <p>@{{ profile?.username ?? '' }}</p>
                <p>{{ profile?.address.city ?? '' }}</p>
            </div>

            <div class="py-3">
                <p>{{ profile?.email ?? '' }}</p>
                <p>{{ profile?.phone ?? '' }}</p>
            </div>

            <div class="py-3">
                <p>{{ profile?.company.name ?? '' }}</p>
            </div>
        </div>
    </div>
</template>

<script setup lang="ts">
import { useUserStore } from '~/stores/user';
import generateRandomAvatar from '~/utils/generateRandomAvatar';

const { profile } = useUserStore()

const userAvatar = generateRandomAvatar()
</script>

<style scoped lang="scss">

</style>