$responsive-breakpoints: (
    sm: var(--bp-sm),
    md: var(--bp-md),
    lg: var(--bp-lg),
    xl: var(--bp-xl),
    break-point: var(--bp-2xl),
);

@mixin responsive($type) {
    $size: map-get(
        $map: $responsive-breakpoints,
        $key: $type,
    );

    @media only screen and (min-width: $size) {
        @content;
    }
}
