@use "./mixins" as *;

.screen-wrapper {
    @apply flex justify-center;
}

.screen-contents {
    @apply margin-container padding-container w-full py-10;
    @extend .min-height-container;
}

.min-height-container {
    --header-height: 83.4px;
    --footer-height: 324px;

    min-height: calc(100vh - var(--header-height) - var(--footer-height));
}

.mw-container {
    max-width: 1660px;

    @include responsive(xl) {
        // Center items
        margin-left: auto !important;
        margin-right: auto !important;

        // Remove additional inline paddings
        padding-left: 20px !important;
        padding-right: 20px !important;
    }
}

.padding-container {
    @apply px-5 md:px-10 lg:px-16;
    @extend .mw-container;
}

.margin-container {
    @apply mx-5 md:mx-10 lg:mx-16;
    @extend .mw-container;
}

.card {
    @apply shadow-md rounded-xl p-12 border-2 border-slate-200;
}
