:root {
    /* 
    ==========================================================================
    BREAKPOINTS
    ========================================================================== 
    */

    --bp-sm: 40em; //640px
    --bp-md: 48em; //768px
    --bp-lg: 64em; //1024px
    --bp-xl: 80em; //1280px
    --bp-2xl: 90em; //1440px

    /* 
    ===========================================================================
    FONTS
    ========================================================================== 
    */
    --font-family: "Rubik", sans-serif;
}
