@use "./abstracts/index" as *;
@use "./tailwind" as *;

body {
    font-family: var(--font-family);
    font-weight: 400;
}

html {
    overflow-x: hidden;
    -moz-osx-font-smoothing: grayscale;
    font-weight: 400;
    scroll-behavior: smooth;
}
