<template>
    <div
        :class="cn(
            'bg-slate-100 p-5 border-l-8',
            comment.isNewComment && 'border-l-green-500'
        )"
    >
        <!-- Profile -->
        <div class="flex gap-3 items-center">
            <img class="rounded-full w-16 h-16 border-slate-200 border shadow-sm" width="64" height="64" :src="userPlaceholder">

            <div class="">
                <p class="font-semibold">
                    {{ comment.email }}
                </p>
                <p>{{ new Date().toLocaleString() }}</p>
            </div>
        </div>

        <!-- Post contents -->
        <div class="mt-3">
            <p class="font-semibold">
                {{ comment.name }}
            </p>

            <p>{{ comment.body }}</p>
        </div>
    </div>
</template>

<script lang="ts" setup>
import { userPlaceholder } from '~/constants/asset-paths';
import { cn } from '~/lib/utils';
import type { Comment } from '~/types/Comment';

interface Props {
    comment: Comment
}

defineProps<Props>()
</script>

<style>

</style>