<template>
    <div class="divide-y divide-slate-200">
        <div v-for="comment in comments" :key="comment.id">
            <CommentItem
                :comment="comment"
            ></CommentItem>
        </div>
    </div>
</template>

<script lang="ts" setup>
import type { Comment } from '~/types/Comment';

interface Props {
    comments: Comment[]
}

defineProps<Props>()
</script>

<style>

</style>