<template>
    <div>
        <GenericBackTextButton
            variant="link"
        ></GenericBackTextButton>
        <!-- Post Item -->
        <PostItem
            v-if="post.data.value?.data"
            class="mt-5"
            :post="post.data.value.data"
        ></PostItem>
        <p v-else>
            Post not found.
        </p>

        <!-- New Comment Box -->
        <div class="ml-10 mt-10 divide-y divide-slate-200">
            <PostCreateForm
                form-title="Leave a comment"
                form-type="comment"
                :post-id="params.id"
                @on-comment-success="onNewComment"
            ></PostCreateForm>

            <!-- Comments -->
            <CommentList
                v-if="comments.data.value?.data"
                :comments="displayedComments"
            ></CommentList>
        </div>
    </div>
</template>

<script lang="ts" setup>
import { getPost, getPostComments } from '~/constants/api-routes';
import type { Comment } from '~/types/Comment';
import type { Post } from '~/types/Post';

/**
 * Route / Params
 */
const route = useRoute()

const params = route.params as {
    id: string
}

/**
 * Post
 */
const post = await useApiFetch<Post>(getPost(params.id));

/**
 * Displayed Comments
 */
const comments = await useApiFetch<Comment[]>(getPostComments(params.id))

const displayedComments = computed(() => {
    const commentsFromApi = comments.data.value?.data ?? [];

    return [...newComments.value, ...commentsFromApi]
})

/**
 * New Comments
 */
const newComments = ref<Comment[]>([])

const onNewComment = (comment: Comment) => {
    const newComment = {
        ...comment,
        isNewComment: true // this shows the 'new comment' indicator (green line)
    }
    newComments.value = [newComment, ...newComments.value]
}

</script>

<style>

</style>