<template>
    <div>
        <ScreenNavBar></ScreenNavBar>
        <div class="screen-wrapper">
            <div class="screen-contents my-20">
                <div class="grid gap-10 grid-cols-1 lg:grid-cols-3 xl:grid-cols-4">
                    <div class="lg:col-span-1">
                        <UserProfileSidebar></UserProfileSidebar>
                    </div>
                    <div class="lg:col-span-2 xl:col-span-3 ">
                        <slot></slot>
                    </div>
                </div>
            </div>
        </div>
    </div>
</template>

<script setup lang="ts">
import { useUserStore } from '~/stores/user';

const { fetchSelf } = useUserStore()
const isLoggedIn = useCookie('isLoggedIn')

if (isLoggedIn) {
    fetchSelf()
}
</script>

<style scoped lang="scss">

</style>