<template>
    <div>
        <PostCreateForm
            form-title="How are you feeling today?"
            form-type="post"
            @on-post-success="onNewPost"
        ></PostCreateForm>

        <PostList
            class="mt-10"
            :posts="displayedPosts"
        ></PostList>
    </div>
</template>

<script setup lang="ts">
import { getPosts } from '~/constants/api-routes';
import type { Post } from '~/types/Post';

/**
 * Displayed Posts
 */
const posts = await useApiFetch<Post[]>(getPosts)

const displayedPosts = computed(() => {
    const postsFromApi = posts.data.value?.data ?? [];

    return [...newPosts.value, ...postsFromApi]
})

/**
 * New Posts
 */
const newPosts = ref<Post[]>([])

const onNewPost = (post: Post) => {
    const newPost = {
        ...post,
        isNewPost: true // this shows the 'new post' indicator (green line)
    }
    newPosts.value = [newPost, ...newPosts.value]
}

/**
 * Page Meta
 */
definePageMeta({
    middleware: 'auth'
})
</script>