<template>
    <div class="screen-wrapper">
        <div class="screen-contents grid place-items-center">
            <div class="card w-2/3 min-w-80 flex flex-col items-center gap-5">
                <h1 class="text-xl font-black">
                    {{ config.public.appName }}
                </h1>
                <form class="mt-5 w-2/3 flex flex-col justify-center gap-3" @submit.prevent="onLoginClick">
                    <UiInput v-model="email" placeholder="Email"></UiInput>
                    <UiInput v-model="password" placeholder="Password"></UiInput>
                    <UiButton class="mt-5" :disabled="loginLoading">
                        Login
                    </UiButton>
                </form>
            </div>
        </div>
    </div>
</template>

<script setup lang="ts">
import { useUserStore } from '~/stores/user';

/**
 * Runtime config
 */
const config = useRuntimeConfig()

/**
 * Router
 */
const router = useRouter()

/**
 * Page Meta
 */
definePageMeta({
    layout: 'empty',
    middleware: 'guest'
})

/**
 * Login
 */
const { login } = useUserStore()
const email = ref('')
const password = ref('')
const loginLoading = ref(false)

const onLoginClick = async () => {
    loginLoading.value = true

    try {
        await login();

        router.push('/')
    } finally {
        loginLoading.value = false
    }
}
</script>

<style scoped lang="scss">

</style>