<template>
    <form class="p-5 bg-slate-100" @submit.prevent="onSubmit">
        <GenericText
            v-if="props.formTitle"
            class="mb-5"
            tag="h5"
            weight="semibold"
        >
            {{ props.formTitle }}
        </GenericText>
        <div class="">
            <GenericText tag="small" class="text-slate-600" weight="semibold">
                Title
            </GenericText>
            <UiInput
                v-model="title"
            ></UiInput>
            <GenericText
                v-if="errors.title"
                tag="small"
                class="text-red-600"
            >
                {{ errors.title }}
            </GenericText>
        </div>

        <div class="mt-3">
            <GenericText tag="small" class="text-slate-600" weight="semibold">
                Body
            </GenericText>
            <UiTextarea
                v-model="body"
            ></UiTextarea>
            <GenericText
                v-if="errors.body"
                tag="small"
                class="text-red-600"
            >
                {{ errors.body }}
            </GenericText>
        </div>

        <UiButton
            class="flex mt-5 ml-auto"
            :disabled="submitLoading"
        >
            Post
        </UiButton>
    </form>
</template>

<script lang="ts" setup>
import { toTypedSchema } from '@vee-validate/zod';
import { useField, useForm } from 'vee-validate';
import * as zod from 'zod';
import { createComment, createPost } from '~/constants/api-routes';
import { useUserStore } from '~/stores/user';
import type { Comment } from '~/types/Comment';
import type { Post } from '~/types/Post';

interface Props {
    formTitle?: string
    formType: 'post' | 'comment'
    postId?: string
}

const props = withDefaults(defineProps<Props>(), {
    formTitle: undefined,
    postId: undefined
})

/**
 * User
 */
const { profile } = useUserStore()

/**
 * Form
 */
const validationSchema = toTypedSchema(
    zod.object({
        title: zod.string().min(1),
        body: zod.string().min(1)
    })
);

const { handleSubmit, errors, resetForm } = useForm({
    validationSchema,
    initialValues: {
        title: '',
        body: ''
    }
});

const submitLoading = ref(false)

const { value: title } = useField<string>('title');
const { value: body } = useField<string>('body');

/**
 * Post / Comment
 */
const onSubmit = () => {
    if (props.formType === 'post') {
        onSubmitPost()
    } else {
        onSubmitComment()
    }
}

const onSubmitPost = handleSubmit(async (value) => {
    submitLoading.value = true

    try {
        const res = await useApiFetch<Post>(createPost, {
            method: 'POST',
            body: JSON.stringify({
                title: value.title,
                body: value.body,
                userId: profile!.id
            })
        })

        if (res.data.value?.OK) {
            emit('on-post-success', res.data.value.data!);
            resetForm()
        }
    } finally {
        submitLoading.value = false
    }
})

const onSubmitComment = handleSubmit(async (value) => {
    submitLoading.value = true

    try {
        const res = await useApiFetch<Comment>(createComment(props.postId!), {
            method: 'POST',
            body: JSON.stringify({
                postId: props.postId,
                name: value.title,
                body: value.body,
                email: profile!.email
            })
        })

        if (res.data.value?.OK) {
            emit('on-comment-success', res.data.value.data!);
            resetForm()
        }
    } finally {
        submitLoading.value = false
    }
})

/**
 * Emits
 */
const emit = defineEmits<{
    (e: 'on-comment-success', comment: Comment): void,
    (e: 'on-post-success', post: Post): void
}>()
</script>

<style>

</style>