<template>
    <NuxtLink :to="`/posts/${post.id}`">
        <div
            :class="cn(
                'bg-slate-100 p-5',
                post.isNewPost && 'border-l-8 border-l-green-500',
            )"
        >
            <!-- Profile -->
            <div class="flex gap-3 items-center">
                <img class="rounded-full w-16 h-16 border-slate-200 border shadow-sm" width="64" height="64" :src="userPlaceholder">

                <div class="">
                    <p class="font-semibold">
                        {{ getUser(post.id)?.name ?? 'Placeholder user' }}
                    </p>
                    <p>{{ new Date().toLocaleString() }}</p>
                </div>
            </div>

            <!-- Post contents -->
            <div class="mt-3">
                <p class="font-semibold">
                    {{ post.title }}
                </p>

                <p>{{ post.body }}</p>
            </div>
        </div>
    </NuxtLink>
</template>

<script lang="ts" setup>
import { userPlaceholder } from '~/constants/asset-paths';
import { cn } from '~/lib/utils';
import { useAllUsersStore } from '~/stores/allUsers';
import type { Post } from '~/types/Post';

interface Props {
    post: Post
}

defineProps<Props>()

/**
 * Get User Info
 */
const { getUser } = useAllUsersStore()
</script>

<style>

</style>