<template>
    <div class="divide-y divide-slate-200">
        <div v-for="post in props.posts" :key="post.id">
            <PostItem
                :post="post"
            ></PostItem>
        </div>
    </div>
</template>

<script lang="ts" setup>
import type { Post } from '~/types/Post';

interface Props {
    posts: Post[]
}

const props = defineProps<Props>()
</script>

<style>

</style>